In [18]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [2]:
#Extract the data from the website
fulltables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
print('fulltables are created')

fulltables are created

In [3]:
#Explore the data
# Group A
fulltables [12]

,Pos,"Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte",Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Qatar (H),0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Ecuador,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Senegal,0,0,0,0,0,0,0,0,NaN
3,4,Netherlands,0,0,0,0,0,0,0,0,NaN

In [4]:
#Group B
fulltables [19]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Iran,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,United States,0,0,0,0,0,0,0,0,NaN
3,4,Wales,0,0,0,0,0,0,0,0,NaN

In [5]:
# Group C
fulltables [26]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
3    4        Poland    0  0  0  0   0   0   0    0                        NaN

In [6]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [8]:
# Tables A - H
# Loop 
# save into a Dictionary
#Give a name columns

dict_tables = {}
for letra, i in zip(alphabet, range(12, 68, 7)):
    df = fulltables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tables[f'Group {letra}'] = df

In [9]:
dict_tables.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [10]:
#explore the data set again by group
dict_tables['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [11]:
dict_tables['Group B']

   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0

In [12]:
dict_tables['Group C']

   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    0  0  0  0   0   0   0    0
1    2  Saudi Arabia    0  0  0  0   0   0   0    0
2    3        Mexico    0  0  0  0   0   0   0    0
3    4        Poland    0  0  0  0   0   0   0    0

In [13]:
dict_tables['Group D']

   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     France    0  0  0  0   0   0   0    0
1    2  Australia    0  0  0  0   0   0   0    0
2    3    Denmark    0  0  0  0   0   0   0    0
3    4    Tunisia    0  0  0  0   0   0   0    0

In [14]:
dict_tables['Group E']

   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Spain    0  0  0  0   0   0   0    0
1    2  Costa Rica    0  0  0  0   0   0   0    0
2    3     Germany    0  0  0  0   0   0   0    0
3    4       Japan    0  0  0  0   0   0   0    0

In [15]:
dict_tables['Group F']

   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Belgium    0  0  0  0   0   0   0    0
1    2   Canada    0  0  0  0   0   0   0    0
2    3  Morocco    0  0  0  0   0   0   0    0
3    4  Croatia    0  0  0  0   0   0   0    0

In [16]:
dict_tables['Group G']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    0  0  0  0   0   0   0    0
1    2       Serbia    0  0  0  0   0   0   0    0
2    3  Switzerland    0  0  0  0   0   0   0    0
3    4     Cameroon    0  0  0  0   0   0   0    0

In [17]:
dict_tables['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [19]:
#Export the dict_tables
with open('dict_tables', 'wb') as output:
    pickle.dump(dict_tables, output)